#Container{
        height: auto;
        width: 1520px;
}
#title{
        position: absolute;
        border: 2px;
        width: 1520px;
        height: 50px;
        background-color: rgb(193, 204, 204);
}
#titletxt{
        text-align: center;
        color: rgb(45, 58, 177);
        font-family: Verdana;
}
#classdetermination{
        position: absolute;
        width: 1420px;;
        top: 70px;
        height: 200px;
        left: 100px;
        background-color: aqua;
}
#enterIptxt{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 800px;
        background-color: brown;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#enterIpinput{
        position: absolute;
        top: 70px;
        left: 200px;
        width: 500px;
}
#className{
        width: 250px;
        height: 30px;
}
/* #validate{
        height: 30px;
        width: 100px;
} */
.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
}
.button:hover {
        background-color: #3e8e41;
        color: white;
}

#note{
        position: absolute;
        top: 120px;
        left: 50px;
}
#note p{
        font-size: 20px;
}
#subnetdetermination{
        display: none;
        position: absolute;
        top:300px;
        left: 110px;
        width: 310px;
        height: 300px;
        background-color: aqua;
}
#subnetdetermination p{
        font-size: 23px;
}
#submit{
        float: right;
}
