#Container{
        height: auto;
        width: 1520px;
}
#title{
        position: absolute;
        border: 2px;
        width: 1520px;
        height: 50px;
        background-color: rgb(193, 204, 204);
}
#titletxt{
        text-align: center;
        color: rgb(45, 58, 177);
        font-family: Verdana;
}
#classdetermination{
        position: absolute;
        width: 1420px;;
        top: 70px;
        height: 300px;
        left: 100px;
        background-color: aqua;
}
#enterIptxt{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 800px;
        background-color: blue;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#enterIpinput{
        position: absolute;
        top: 70px;
        left: 200px;
        width: 300px;
}
#className{
        width: 200px;
        height: 50px;
}
